/* ==UserStyle==
@name           SmartEdu
@namespace      github.com/domenicoblanco/UniCTUserStyles
@version        1.0.8
@description    Userstyle for SmartEdu
@author         Domenico Blanco
==/UserStyle== */

@-moz-document domain("studenti.smartedu.unict.it"){
	:root {
		color-scheme: dark;
		--primary-color: #18191a;
		--secondary-color: #242526;
		--third-color: #3a3b3c;
		--text: teal;
		--secondary-text: #1084a7;
	}
	
	/* background */
	
	#mainDiv, .nav-tabs .nav-link.active, .input-group-text, .brand_logo_container, .card, .navbar-white, .breadcrumb, .container-fluid2, .content-wrapper, .dropdown-menu li:hover, .ui-widget-content, #userName, #password {
		background: var(--primary-color);
	}
	
	.user_card, .table-striped tbody tr:nth-of-type(odd), .ui-widget-header, .ui-button, .ui-button:hover, .select2-container--default .select2-selection--single {
		background: var(--secondary-color);
	}
	
	.bg-gradient-light {
		background: var(--secondary-color)!important;
	}
	
	footer.page-footer .footer-copyright {
		background-color: var(--third-color);
	}
	
	.bg-light, .bg-gradient-light, #careerInfo th, .btn-light.dropdown-toggle, .btn-light.dropdown-toggle:hover, .btn-light:not([disabled]):not(.disabled):active, .dropdown-menu {
		background-color: var(--secondary-color)!important;
	}
	
	
	html, #bodyTemplateColor, .hiddenTableCareer th {
		background-color: var(--primary-color)!important;
	}
	
	
	/* Borders */
	
	.nav-tabs, .ui-widget-content, .ui-widget.ui-widget-content, .ui-button:hover, #userName, #password {
		border-color: var(--secondary-text);
	}
	
	.md-form > input {
		border-color: var(--secondary-text)!important;
	}
	
	.nav-link.active, .nav-link:hover, .border, .main-header {
		border-color: var(--primary-text)!important;
	}
	
	.table td, .table th, .table thead th, .ui-widget-header, .ui-button, .select2-hidden-accesible {
		border: none;
	}
	
	
	/* Font */
	
	span.font-weight-bold, .font-weight-normal, tr, td, h3, .btn-light.dropdown-toggle, .btn-light.dropdown-toggle:hover, .dropdown-menu li, h1, div, .ui-button, .nav-link.active, .input-group-text, .text-muted, .breadcrumb a, .md-form > input, .select2-selection__rendered, th {
		color: var(--text)!important;
	}
	
	.md-form > label, #openMenuLeftButton {
		color: var(--secondary-text)!important;
	}
	
	
	/* Custom components */
	.form-control {
		background: revert;
		color: revert;
		border: revert;
		transition: revert;
		border-radius: revert;
	}
	
	.googleStore {
		content: url("https://raw.githubusercontent.com/domenicoblanco/UniCTUserStyles/master/badges/googlePlay.webp");
	}
	
	.appleStore {
		content: url("https://raw.githubusercontent.com/domenicoblanco/UniCTUserStyles/master/badges/appStore.webp");
	}
	
	
	/* Filters & Transformations */
	
	#spid-agid {
		filter: invert();
	}
}
