/* ==UserStyle==
@name           SmartEdu
@namespace      github.com/domenicoblanco/UniCTUserstyle
@version        1.0.0
@description    Userstyle for Studium
@author         Domenico Blanco
==/UserStyle== */

@-moz-document domain("studium.unict.it") {
    #content,
    #menu,
    body,
    #global_course_name,
    #header3,
    .headerinner,
    #current,
    #header2,
    .headerinner,
    #header2redborder,
    .actions,
    td,
    #announcements_list,
    .quiz_content_actions {
        background-color: #2E3440 !important;
        border: none;
    }

    #header2,
    .actions {
        background: #2E3440 !important;
    }

    .section_white,
    .sectiontitle,
    .section {
        background-color: #2E3440 !important;
        background: #2E3440 !important;
    }

    a,
    span {
        color: #1084a7 !important;
    }

    a[target] {
        background: none !important;
    }

    a:hover {
        background: none;
    }

    .home_cats ul li a:hover {
        background-color: none !important;
        background: none;
    }

    .independent_course_item {
        color: #1A919D;
    }

    .course_list_category {
        background-color: #2E3B55;
    }

    td,
    div {
        color: #1084a7 !important;
    }
}